@use '../../generic/variables' as vars;
@use '../../generic/mixins' as mixins;

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.889rem;
  transition: box-shadow 0.3s;
  transform: translateZ(0);
  padding: 0.2rem 1rem;
  letter-spacing: 0.05rem;

  &.primary {
    color: vars.$white;
    background-color: vars.$primary;

    &:hover {
      background-color: #0069d9;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$white;
    }
  }

  &.secondary {
    color: vars.$white;
    background-color: vars.$secondary;

    &:hover {
      background-color: #5a6268;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$white;
    }
  }

  &.warning {
    color: vars.$white;
    background-color: vars.$warning;

    &:hover {
      background-color: #e0a800;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$white;
    }
  }

  &.danger {
    color: vars.$white;
    background-color: vars.$danger;

    &:hover {
      background-color: #c82333;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$white;
    }
  }

  &.success {
    color: vars.$white;
    background-color: vars.$success;

    &:hover {
      background-color: #218838;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$white;
    }
  }

  &.info {
    color: vars.$white;
    background-color: vars.$info;

    &:hover {
      background-color: #138496;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$white;
    }
  }

  &.lightGrey {
    background: vars.$blue-gray-200;
    color: vars.$blue-gray-500;
    border-color: transparent;

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$blue-gray-500;
    }
  }

  &.white {
    background-color: vars.$white;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$black;
    }
  }

  &.outline {
    color: vars.$purple;
    background: transparent;
    border: 1px solid vars.$purple;
    padding: 0.2rem 0.75rem;

    &:disabled {
      opacity: 0.5;
    }

    .button-icon {
      fill: vars.$purple;
    }
  }

  &.text {
    color: vars.$black;

    &:hover {
      box-shadow: none;
    }

    &:disabled {
      @include mixins.disable-background;
    }

    .button-icon {
      fill: vars.$black;
    }
  }

  &.ghost {
    color: vars.$black;
    border: 1px solid vars.$blue-gray-500;

    &:disabled {
      @include mixins.disable-outlined-background;
    }
    .button-icon {
      fill: vars.$black;
    }
  }

  // size small
  &.small {
    -webkit-text-fill-color: unset;
    font-size: 12px;
    padding: 0.3rem 0.66rem;

    &.round {
      height: 1.75rem;
      width: 1.75rem;
    }
  }

  &.default {
    &.round {
      height: 2rem;
      width: 2rem;
    }
  }
  // size large
  &.large {
    padding: 0.5rem 1rem;
    border-radius: 0.89rem;
    font-weight: 500;

    &.round {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &.round {
    padding: 0;
    border-radius: 50%;
  }

  &.fluid {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 8px 3px rgb(0 0 0 / 20%);
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  .button-content {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
}
