@use '../../generic/variables' as vars;

$modal-padding: 15px;

.modal-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.3s;
  color: vars.$light-gold-dark-theme;

  &.inactive-modal {
    transition:
      height 0s 0.3s,
      opacity 0.3s;
    height: 0;
    opacity: 0;
  }

  .modal-wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;
  }

  .modal {
    margin: 0 auto;
    z-index: 500;
    background-color: vars.$grey-dark-theme;
    width: calc(100% - 1rem);
    max-width: 600px;
    border: 1px solid vars.$dark-gold-dark-theme;
    border-radius: 16px;
    box-shadow:
      0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-out;
    cursor: initial;
    opacity: 0;

    & * {
      box-sizing: border-box;
    }

    &.slide-in-down {
      animation-name: slideInDown;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &.slide-in-up {
      animation-name: slideInUp;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &.slide-in-right {
      animation-name: slideInRight;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &.slide-in-left {
      animation-name: slideInLeft;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &.no-animate-modal {
      transform: translate(0, 0);
      opacity: 1;
    }

    .modal-btn {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .modal-header {
      position: relative;
      padding: $modal-padding;
      border-bottom: 1px solid vars.$dark-gold-dark-theme;
      font-weight: 300;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        justify-content: space-between;
      }

      .modal-title {
        margin: 0;
        line-height: 1.42857143;
        text-transform: capitalize;
      }

      .header-close-btn {
        padding: 0;
        cursor: pointer;
        border: 0;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: vars.$dark-gold-dark-theme;
        text-shadow: 0 1px 0 vars.$black;
        outline: none;
        opacity: 0.2;
        transition: opacity 0.15s;
        background-color: transparent;

        &:hover {
          opacity: 0.9;
        }
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
      }
    }

    .modal-body {
      position: relative;
      padding: $modal-padding;
      text-align: left;
    }

    .modal-footer {
      padding: $modal-padding;
      text-align: right;
      border-top: 1px solid vars.$dark-gold-dark-theme;

      &.is-footer-btns-full-width {
        display: flex;
      }

      &.is-footer-btns-stacked {
        display: flex;
        flex-direction: column;

        .button {
          margin: 0;
        }
      }
    }
  }
}
