@import "../generic/variables";

.footer {
  text-align: center;
  background-color: #101010;

  .row {
    div:not(:first-child) {
      margin-top: 50px;
    }
  }

  .codepen-link {
    svg {
      margin-right: 20px;
    }
  }

  h1 {
    color: #f9f9f9;
    font-size: 1.25rem;
    margin: 0 auto 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted gray;
    width: 79%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      font-size: 1rem;
      color: #7d7d7d;
      line-height: 25px;
      a {
        color: #7d7d7d;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }

    strong {
        svg {
            width: 16px;
            fill: #7d7d7d;
        }
    }
    svg {
        width: 40px;
        fill: #7d7d7d;
        &:hover {
            fill: #fff;
        }
    }
}

@media (min-width: $tablet) {
  .footer {
    .row {
      div:not(:first-child) {
        margin-top: 0;
      }
    }
  }
}
