.footer {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px dotted grey;
    padding: 20px 5px;

    .link {
      &:hover {
        opacity: 0.8;
      }

      svg {
        width: 60px;
      }
    }
  }
}
