.footer {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px dotted grey;
    padding: 20px 5px 5px 5px;

    .link {
      &:hover {
        opacity: 0.8;
      }

      svg {
        width: 60px;
      }
    }
  }
  .copyright {
    text-align: center;
    margin: 0 0 3px 0;
    font-size: 12px;
    color: white;
  }
}

.tooltip-message {
  &.no-wrap-text {
    white-space: nowrap;
  }
}
