@import '../generic/variables';

.skills {
	background-color: #f5f5f5;

	.desktop-wrapper {
		margin: 0 auto;

		// > 768
		@media (min-width: 436px) {
			margin: 0 auto 1.5rem;
		}
	}

	&.section .title-container {
		margin: 0;
	}

	.skills-wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-around;

		// >992
		@media (min-width: $laptop) {
			text-align: left;
		}
	}
}
