//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//generic colors
$black: #000000;
$white: #ffffff;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;
$purple: #8e54e9;
$bluish-primary: linear-gradient(90deg, #4776e6 0%, $purple 100%);
$grey-100: #e5e5e5;
$blue-gray-200: #e2e8f0;
$blue-gray-500: #64748b;

//dork colors
$grey-dark-theme: #1b1f22;
$light-gold-dark-theme: #ffdb99;
$dark-gold-dark-theme: #e1a328;

//skills cube
$cube-width-xss: 150px;
$cube-width-xs: 200px;
$cube-width-md: 250px;
$cube-width-lg: 300px;

//projects
$book-border-radius: 5px;
$book-height: 400px;
$book-width: $book-height * 0.76;
$desktop-book-height: 650px;
$desktop-book-width: $desktop-book-height * 0.71;
