@import "../../generic/variables";
@import "../../generic/mixins";

.animated-desktop-container {
  display: none;
  position: relative;
  width: 423px;
  height: 238px;
  margin: auto;
}

.mouse {
  position: absolute;
  bottom: $table-height;
  left: 222px;
  @include mouse();
  background: $color5;

  &:before {
    @include pseudo-block();
    @include mouse();
    position: absolute;
    background: $color4;
    left: -8px;
  }
}

.computer {
  position: absolute;
  bottom: $table-height - 6px;
  left: 72px;

  .monitor {
    width: 153px;
    height: 110px;
    transform: skew(6deg);
    background: $color5;
    border-radius: 7px 7px 9px 9px;
    position: relative;
    left: -46px;

    &:before {
      @include pseudo-block();
      position: absolute;
      width: 6px;
      height: 72px;
      left: -11px;
      top: 18px;
      background: $color2;
      border-radius: 100% / 40px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .post-it {
      width: 18px;
      height: 18px;
      background: $base-color;
      position: relative;
      left: 112px;
      top: 15px;
      display: grid;
      padding: 3px 3px 4px 3px;
      grid-template-rows: 50% 22%;
      grid-row-gap: 2px;

      .part1,
      .part2 {
        background: $color5;
      }
    }

    .code {
      z-index: -0;
      width: 30px;
      height: 10px;
      // background: red;
      position: absolute;
      bottom: 21px;
      right: 14px;
      padding: 1px;
      overflow: hidden;

      div {
        margin: 2px;
        height: 2px;
        background: $base-color;
        position: relative;
        right: 27px;
        bottom: 0;
      }

      .line1 {
        animation: code 3s linear infinite;
        top: 5px;
      }

      .line2 {
        width: 25%;
        top: 1px;
        animation: code 3s 1.5s linear infinite;
      }

      .line3 {
        width: 80%;
        top: -3px;
        animation: code 3s 1.5s linear infinite;
      }
    }
  }

  .screen {
    width: 88%;
    height: 75%;
    margin: 0 auto;
    position: relative;
    top: 8px;
    background: $color3;
    border-radius: 5px 5px 5px 5px;
    border-right: 3px solid $color4;

    .dot1 {
      position: absolute;
      width: 14px;
      height: 14px;
      background: $color4;
      top: 28px;
      left: 58px;
      border-radius: 2px;
    }

    .dot2,
    .dot3,
    .dot4,
    .dot5,
    .dot6 {
      position: absolute;
      width: 10px;
      height: 10px;
    }

    .dot2,
    .dot3 {
      background: $color5;
    }

    .dot4,
    .dot5,
    .dot6 {
      background: $base-color;
    }

    .dot2 {
      top: 52px;
      left: 41px;
      animation: animation3 3.5s ease-in infinite;
    }

    .dot3 {
      top: 8px;
      left: 89px;
      // animation: animation4 5s 1s ease-in-out infinite;
    }

    .dot4 {
      top: 8px;
      left: 15px;
      animation: animation5 2s ease-in infinite;
    }

    .dot5 {
      top: 52px;
      left: 16px;
    }

    .dot6 {
      top: 52px;
      left: 99px;
    }

    .dot7,
    .dot8,
    .dot9 {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 2px $base-color solid;
    }

    .dot7 {
      top: 8px;
      left: 40px;
      animation: animation2 1s linear infinite;
    }

    .dot8 {
      top: 52px;
      left: 84px;
      animation: animation1 2s linear infinite;
    }

    .dot9 {
      background: $base-color;
      top: 8px;
      left: 108px;
    }

    .drawing {
      position: relative;
      top: 11px;
      margin-top: 5px;
      // background: red;
      margin: 0 auto;
      width: 72%;
      height: 58%;
      display: grid;
      grid-template-columns: repeat(8, [col] 10%);
      grid-template-rows: repeat(2, [row] auto);
    }

    .box1 {
      grid-column: 1 / 4;
      border-left: $line-thickness $base-color solid;
      border-bottom-left-radius: 4px;
    }

    .box2 {
      grid-column: 4 / 6;
      border-top: $line-thickness $base-color solid;
      border-right: $line-thickness $base-color solid;
      border-top-right-radius: 4px;
    }

    .box3 {
      grid-column: 6 / 9;
      border-right: $line-thickness $base-color solid;
    }

    .box4 {
      grid-column: 9 / 11;
      border-right: $line-thickness $base-color solid;
      border-bottom-right-radius: 4px;
    }

    .box5 {
      grid-column: 1 / 4;
      grid-row: row 2;
      border-right: $line-thickness $base-color solid;
      border-bottom: $line-thickness $base-color solid;
    }

    .box6 {
      grid-column: 4 / 6;
      grid-row: row 2;
      border-right: $line-thickness $base-color solid;
    }

    .box7 {
      grid-column: 6 / 8;
      grid-row: row 2;
      border-bottom: $line-thickness $base-color solid;
    }

    .box8 {
      grid-column: 8 / 10;
      grid-row: row 2;
      border-right: $line-thickness $base-color solid;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
      border-bottom: $line-thickness $base-color solid;
    }
  }

  &:before {
    @include pseudo-block();
    width: 153px;
    height: 110px;
    transform: skew(6deg);
    background: $color4;
    border-radius: 7px 7px 9px 9px;
    position: absolute;
    left: -52px;
  }

  &:after {
    @include pseudo-block();
    width: 7px;
    height: 7px;
    background: $color1;
    border-radius: 50%;
    position: absolute;
    bottom: 43px;
    left: 33px;
  }

  .base:before {
    @include pseudo-block();
    width: 40px;
    height: 30px;
    transform: skew(-22deg);
    background: $color4;
    border-left: 6px $color2 solid;
    border-bottom-left-radius: 10px;
  }

  .base:after {
    @include pseudo-block();
    position: relative;
    bottom: 6px;
    height: 6px;
    width: 50px;
    background: $base-color;
    border-left: 30px solid $color2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.cup {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 6% 28% 28% 28%;
  position: absolute;
  bottom: $table-height;
  left: 194px;
  height: 62px;
  width: 43px;

  .part1,
  .part5,
  .part9 {
    background: $color6;
  }
  .part2,
  .part3,
  .part4,
  .part6,
  .part10 {
    background: $color5;
  }
  .part7 {
    background: $color8;
  }
  .part8 {
    background: $color10;
  }

  .part1,
  .part5,
  .part7,
  .part9 {
    border-left: 3px solid white;
  }

  .part2,
  .part6,
  .part8,
  .part10 {
    border-right: 3px solid white;
  }

  &:before {
    @include negative-space(true, false, 51px, 6px);
  }

  &:after {
    @include negative-space(false, false, 51px, 6px);
  }

  .part1:before {
    @include negative-space(true, true, 5px, 3px);
  }
  .part1:after {
    @include negative-space(false, true, 5px, 3px);
  }
}

.smoke1 {
  @include smoke();
  bottom: 60px;
  left: 15px;
  animation: smoke1 2.2s 0.8s ease-out infinite;
}

.table {
  position: absolute;
  background: $base-color;
  width: 100%;
  height: $table-height;
  bottom: 0;
  left: -5px;
  border-radius: 5px;
}

.book1 {
  position: absolute;
  display: grid;
  bottom: $table-height + 9px;
  left: 280px;
  width: 115px;
  height: 10px;
  grid-template-columns: 37% 60% 3%;

  //TODO: CSS Grid can adjust heights
  div {
    height: 100%;
  }

  .part1 {
    border-left: 4px $color2 solid;
    border-top: 4px $color2 solid;
    border-bottom: 4px $color2 solid;
    background: $color1;
    border-radius: 15px 0 0 15px;
  }

  .part2 {
    border-top: 4px $base-color solid;
    border-bottom: 4px $base-color solid;
    background: $color3;
    &::after {
      @include pseudo-block();
      background: $color1;
      width: 100%;
      height: 3px;
    }
  }

  .part3 {
    border-top: 4px $base-color solid;
    border-bottom: 4px $base-color solid;
  }
}

.book2 {
  position: absolute;
  bottom: 25px;
  right: 71px;
  .part1,
  .part2,
  .part3 {
    display: grid;
    width: 70px;
    grid-template-columns: 10% 14% 5% 4% 67%;
  }

  .part2 {
    height: 15px;

    .sec1,
    .sec3,
    .sec5 {
      background: $color4;
    }

    .sec2,
    .sec4 {
      background: $color5;
    }
  }

  .part1,
  .part3 {
    height: 3px;
    position: relative;
    left: 1px;
  }

  .part1 {
    transform: skew(-($book-skew));

    .sec1,
    .sec3,
    .sec5 {
      background: $color11;
    }

    .sec2,
    .sec4 {
      background: $color12;
    }
  }

  .part3 {
    transform: skew($book-skew);

    .sec1,
    .sec3,
    .sec5 {
      background: $color13;
    }

    .sec2,
    .sec4 {
      background: $color14;
    }
  }

  .part4 {
    height: 16px;
    width: 40px;
    border: 3px solid $base-color;
    border-right: none;
    padding-right: 4px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    position: absolute;
    bottom: -1px;
    left: 60px;

    .sec6 {
      width: 100%;
      height: 18%;
      background: $color1;
    }

    .sec7 {
      width: 100%;
      height: 82%;
      background: $color3;
    }
  }
}

.frame {
  position: absolute;
  right: 90px;
  top: 35px;
  width: 84px;
  background: $color5;
  border-left: 4px solid $base-color;
  padding: 9px 9px 1px 9px;

  .paint {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    background: $base-color;

    border-right: 3px solid $base-color;
    position: relative;
    overflow: hidden;
    div {
      position: absolute;
    }

    .sec0 {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $color4;
      right: 28px;
      top: -1px;
    }
    .sec1 {
      width: 45%;
      height: 100%;
      background: $color3;
      left: 60px;
      transform: skew(-50deg);
    }

    .sec2 {
      width: 22%;
      border-radius: 38% 38% 0 0;
      height: 100%;
      background: $color3;
      top: 2px;
      left: 29px;
    }

    .sec3 {
      border-bottom: 100px solid $color4;
      border-left: 20px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 40px;
      top: 31px;
      left: 42px;
    }

    .sec4 {
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 16px solid $color5;
      right: 5px;
      top: 16px;
    }

    .sec5 {
      height: 12px;
      width: 45px;
      border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
      background: $color1;
      bottom: 2px;
      right: -22px;
    }

    .sec6 {
      width: 0;
      height: 0;
      border-bottom: 15px solid $color2;
      border-left: 29px solid transparent;
      bottom: 0;
    }

    .sec7 {
      $size: 12px;
      height: $size * 2;
      width: $size;
      border-bottom-left-radius: $size * 2;
      border-top-left-radius: $size * 2;
      background: $color4;
      bottom: 7px;
      left: 17px;
    }

    .sec8 {
      &:before {
        content: "";
        position: absolute;
        top: 13px;
        left: 35px;
        width: 0;
        height: 0;
        border-bottom: 32px solid $color2;
        border-right: 26px solid transparent;
      }

      &:after {
        $color: $color4;
        $corner-bevel: 8;
        content: "";
        border-style: solid;
        height: 0;
        width: 12px;
        border-color: blue transparent $color transparent;
        border-width: 0 0 #{$corner-bevel}px #{$corner-bevel}px;
        position: absolute;
        top: 26px;
        left: 26px;
        transform: rotate(-40deg);
      }
    }

    .sec9 {
      height: 11px;
      width: 3px;
      background: $color2;
      bottom: 6px;
      left: 29px;
    }
  }

  .title {
    margin: 7px auto;
    width: 50%;
    height: 7px;
    background: $base-color;
  }
}

@keyframes animation1 {
  20% {
    background: $color5;
  }
  30% {
    background: $color3;
  }
  100% {
    background: transparent;
  }
}

@keyframes animation2 {
  40% {
    transform: scale(1.2);
  }
}

@keyframes animation3 {
  20% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateX(-9px);
  }
}

@keyframes animation4 {
  60% {
    transform: translateY(15px);
  }
}

@keyframes animation5 {
  50% {
    background-color: $color6;
  }
}

@keyframes smoke1 {
  0% {
    opacity: 0.9;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px) rotateY(0);
  }
}

@keyframes code {
  0% {
    transform: translate(0, 0);
  }
  8% {
    transform: translate(22px, 0);
  }
  100% {
    transform: translate(22px, -10px);
  }
}

@media(min-width: 436px) {
  .animated-desktop-container {
    display: block;
  }
}
