.back-to-top {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.175rem 0.55rem;
  line-height: 1.1;
  border-radius: 0.25rem;
  border-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: background-color 0.3s, opacity 0.4s, visibility 0.4s;

  &.show-back-to-top {
    opacity: 1;
    visibility: visible;
  }
}
