@import "../../generic/variables";

.center-card {
    .card {
        .title {
            background: #3f5f8c;
            color: #ffffff;
        }
    }
}

.card {
    border-radius    : 34px;
    background-color : #ffffff;
    box-shadow       : 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow         : hidden;
    height           : 100%;
    color            : #4d4d4d;

    .title {
        background-color: #8a9ab3;
        padding          : 20px;
        margin           : 0;
        display          : flex;
        flex-direction   : column;
        text-align       : center;

        .icon-wrapper {
            background-color: #2c3e5a;
            width            : 110px;
            height           : 110px;
            margin           : 0 auto;
            padding          : 0 0 5px 2px;
            border-radius    : 50%;
            display          : flex;
            align-items      : center;
            justify-content  : center;

            // > 992
            @media (min-width: $laptop) {
                width            : 145px;
                height           : 145px;
            }

            svg {
                width : 60px;
                fill  : #fff;

                // > 992
                @media (min-width: $laptop) {
                    width : 100px;
                }

                &.mouse-icon {
                    width        : 40px;
                    padding-left : 5px;

                    // > 992
                    @media (min-width: $laptop) {
                        width : 60px;
                    }
                }
            }
        }


        .text {
            margin-top     : 10px;
            text-transform : uppercase;

            // > 992
            @media (min-width: $laptop) {
                margin-top     : 35px;
            }
        }
    }

    .description {
        font-weight : 500;
        padding     : 0.5rem 0.5rem;
        margin      : 0;
        text-align  : left;

        // > 992
        @media (min-width: $laptop) {
            padding     : 2rem 1rem;
        }

        li {
            line-height : 25px;
        }
    }
}
