.skill {
    display          : inline-block;
    padding          : 8px;
    background-color: rgb(63, 94, 140);
    color            : #fff;
    border-radius    : 15px;
    text-transform   : uppercase;
    font-weight      : 700;
    font-size        : .75rem;
    line-height      : 1rem;
    margin           : 3px;
    position         : relative;
    overflow         : hidden;
}
