@import "../../generic/variables";

.skill {
  display: inline;
  margin: 20px;
}

.circle-container {
  position: relative;
  perspective: 1000;

  &:hover {
    .circle {
      transform: rotate3d(45, 45, 0, 180deg);
    }
  }

  .outer-ring {
    transform: rotate3d(45, 0, 0, 180deg);
  }
}

.circle-container, .front, .back {
  width: $inner-circle;
  height: $inner-circle;
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
}

.circle, .outer-ring {
  transition: 0.5s;
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.circle {
  position: relative;
  width: $inner-circle;
  height: $inner-circle;
}

.front, .back {
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    color: #c02227;
    margin: 0;
    user-select: none;
  }
}

.back {
  transform: rotate3d(45, 45, 0, 180deg);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 60px;
  }

  .back-logo {
    width: 60%;
    display: block;
    margin: 2em auto;
  }
}

.outer-ring {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: $outer-circle;
  height: $outer-circle;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
