@import "../../generic/variables";

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  .title {
    padding: 0 20px;
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    margin: 0;
  }
  .line {
    flex-grow: 1;
    border: 0;
    height: 1px;
    display: none;
    background-color: #666666;
  }
}

// >768
@media (min-width: $tablet) {
    .title-container {
      .title {
        font-size: 52px;
      }
      .line {
        display: block;
      }
    }
}
