@use '../../generic/variables' as vars;

.home {
  background-image: url('~@/public/assets/images/mandala/home/darkHomeMobile.svg');

  @media (min-width: vars.$laptop) {
    background-image: url('~@/public/assets/images/mandala/home/darkHomeDesktop.svg');
  }

  .title {
    font-size: 21px;
    margin-top: 0;
    color: vars.$dark-gold-dark-theme;

    @media (min-width: vars.$mobile-small) {
      font-size: 28px;
    }

    @media (min-width: vars.$mobile-large) {
      font-size: 40px;
    }

    @media (min-width: vars.$tablet) {
      font-size: 59px;
    }

    @media (min-width: vars.$laptop) {
      font-size: 42px;
    }

    @media (min-width: vars.$desktop) {
      font-size: 50px;
    }
  }

  .subtitle {
    font-size: 14.7px;
    margin: 0;

    @media (min-width: vars.$mobile-small) {
      font-size: 19px;
    }

    @media (min-width: vars.$mobile-large) {
      font-size: 30px;
    }

    @media (min-width: vars.$tablet) {
      font-size: 35px;
    }
  }
}
