@use '../../generic/variables' as vars;

.not-found {
  background-image: url('~@/public/assets/images/mandala/notFound/darkNotFoundMobile.svg');
  background-size: cover;

  @media (min-width: vars.$mobile-large) {
    background-size: contain;
  }

  @media (min-width: vars.$laptop) {
    background-image: url('~@/public/assets/images/mandala/notFound/darkNotFoundDesktop.svg');
  }

  .inner-content {
    text-transform: capitalize;

    .title {
      font-size: 35px;
      margin: 0;

      @media (min-width: vars.$mobile-large) {
        font-size: 50px;
      }
    }

    .subtitle {
      font-size: 25px;
      text-decoration: none;
      color: vars.$dark-gold-dark-theme;

      &:hover {
        text-decoration: underline;
      }

      @media (min-width: vars.$mobile-large) {
        font-size: 30px;
      }
    }
  }
}
