@use '../../generic/variables' as vars;

.skills-page {
  background-image: url('~@/public/assets/images/mandala/skills/darkSkillsLaptop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;

  @media (min-width: vars.$tablet) {
    background-size: contain;
  }

  @media (min-width: vars.$laptop) {
    background-position: 561px;
  }

  @media (min-width: vars.$desktop) {
    background-image: url('~@/public/assets/images/mandala/skills/darkSkillsDesktop.svg');
    background-position: right;
  }

  .open-skills-btn {
    position: absolute;
    top: 23px;
    right: 15px;
    cursor: pointer;
    text-decoration: underline;
    color: vars.$dark-gold-dark-theme;
    background-color: transparent;
    outline: none;
    border: none;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }

    @media (min-width: vars.$desktop) {
      left: 44.8%;
      right: 44.8%;
      top: 13px;
    }
  }
}
