.skills-page {
  background-image: url('~@/public/assets/images/mandala/skills/darkSkillsLaptop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;

  @media (min-width: $tablet) {
    background-size: contain;
  }

  @media (min-width: $laptop) {
    background-position: 561px;
  }

  @media (min-width: $desktop) {
    background-image: url('~@/public/assets/images/mandala/skills/darkSkillsDesktop.svg');
    background-position: right;
  }

  .simplebar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .open-skills-btn {
    position: absolute;
    top: 23px;
    right: 15px;
    cursor: pointer;
    text-decoration: underline;
    color: $dark-gold-dark-theme;
    background-color: transparent;
    outline: none;
    border: none;

    &:hover {
      text-decoration: none;
    }

    @media (min-width: $desktop) {
      left: 44.8%;
      right: 44.8%;
      top: 13px;
    }
  }

  .cube-wrapper {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    width: 100%;
    display: flex;
    background-color: rgba(27, 31, 34, 0.5);

    @media (min-width: $laptop) {
      width: 50%;
      background-color: transparent;
    }

    .cube {
      animation: rotateCube 10s linear infinite;
      transform-style: preserve-3d;
      width: $cube-width-xss;
      height: $cube-width-xss;
      margin: auto;
      position: relative;

      .skill-wrapper {
        position: absolute;
        opacity: 0.8;
        width: 100%;
        height: 100%;

        &:nth-child(1) {
          transform: rotateY(0deg) translateZ($cube-width-xss * 0.5);
        }

        &:nth-child(2) {
          transform: rotateY(90deg) translateZ($cube-width-xss * 0.5);
        }

        &:nth-child(3) {
          transform: rotateY(180deg) translateZ($cube-width-xss * 0.5);
        }

        &:nth-child(4) {
          transform: rotateY(-90deg) translateZ($cube-width-xss * 0.5);
        }

        &:nth-child(5) {
          transform: rotateX(90deg) translateZ($cube-width-xss * 0.5);
        }

        &:nth-child(6) {
          transform: rotateX(-90deg) translateZ($cube-width-xss * 0.5);
        }
      }

      //>512
      @media (min-width: $mobile-large) {
        width: $cube-width-xs;
        height: $cube-width-xs;

        .skill-wrapper {
          &:nth-child(1) {
            transform: rotateY(0deg) translateZ($cube-width-xs * 0.5);
          }

          &:nth-child(2) {
            transform: rotateY(90deg) translateZ($cube-width-xs * 0.5);
          }

          &:nth-child(3) {
            transform: rotateY(180deg) translateZ($cube-width-xs * 0.5);
          }

          &:nth-child(4) {
            transform: rotateY(-90deg) translateZ($cube-width-xs * 0.5);
          }

          &:nth-child(5) {
            transform: rotateX(90deg) translateZ($cube-width-xs * 0.5);
          }

          &:nth-child(6) {
            transform: rotateX(-90deg) translateZ($cube-width-xs * 0.5);
          }
        }
      }

      //>992
      @media (min-width: $laptop) {
        width: $cube-width-md;
        height: $cube-width-md;

        .skill-wrapper {
          &:nth-child(1) {
            transform: rotateY(0deg) translateZ($cube-width-md * 0.5);
          }

          &:nth-child(2) {
            transform: rotateY(90deg) translateZ($cube-width-md * 0.5);
          }

          &:nth-child(3) {
            transform: rotateY(180deg) translateZ($cube-width-md * 0.5);
          }

          &:nth-child(4) {
            transform: rotateY(-90deg) translateZ($cube-width-md * 0.5);
          }

          &:nth-child(5) {
            transform: rotateX(90deg) translateZ($cube-width-md * 0.5);
          }

          &:nth-child(6) {
            transform: rotateX(-90deg) translateZ($cube-width-md * 0.5);
          }
        }
      }

      //>1200
      @media (min-width: $desktop) and (min-height: 720px) {
        width: $cube-width-lg;
        height: $cube-width-lg;

        .skill-wrapper {
          &:nth-child(1) {
            transform: rotateY(0deg) translateZ($cube-width-lg * 0.5);
          }

          &:nth-child(2) {
            transform: rotateY(90deg) translateZ($cube-width-lg * 0.5);
          }

          &:nth-child(3) {
            transform: rotateY(180deg) translateZ($cube-width-lg * 0.5);
          }

          &:nth-child(4) {
            transform: rotateY(-90deg) translateZ($cube-width-lg * 0.5);
          }

          &:nth-child(5) {
            transform: rotateX(90deg) translateZ($cube-width-lg * 0.5);
          }

          &:nth-child(6) {
            transform: rotateX(-90deg) translateZ($cube-width-lg * 0.5);
          }
        }
      }
    }
  }
}

.simplebar-content:after,
.simplebar-content:before {
  content: none !important;
}

@keyframes rotateCube {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
