@import "../../generic/mixins";
@import "../../generic/variables";

//*** QUICK NAV ***/
.quick-nav {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 20%;
  width: $element-height;
  background: rgba(darken($blue1, 20%), 0.25);
  border-radius: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: $transition300;

  &:hover {
    transition: $transition150;
  }

  // > 768
  @media (min-width: $laptop) {
      top: 50%;
  }

  &-item {
    position: relative;
    height: $element-height;
    width: $element-height;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition300;

    &.active {
      text-decoration: none;
      background: rgba(255, 255, 255, 0.5);
      transition: $transition150;

      .quick-nav-title {
        opacity: 1;
        left: 40px;
        transition: $transition150;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    display: block;
    pointer-events: none;
    opacity: 0;
    font-size: 0.875rem;
    color: white;
    background: rgba(25,118,210, 0.9);
    text-align: right;
    padding: 3px 12px 4px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform:translateY(-50%);
    border-radius: 50px;
    letter-spacing: 0.02857em;
    transition: $transition300;
  }
}
