@import "generic.scss";
@import "components.scss";

#root {
  background-image: url('../assets/images/swirl_pattern_opaque.jpg') !important;
  background-attachment: fixed;
}

.section {
  padding: 3rem 0;
}
